### D0_CF1から10000行を取得して保存

In [5]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_CF1_credentials = project.get_connected_data(name="D0_CF1")

import os, jaydebeapi, pandas as pd

D0_CF1_port = D0_CF1_credentials.get('port', 50000)

D0_CF1_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_CF1_credentials['host'],
    D0_CF1_port,
    D0_CF1_credentials['database']
)

if(D0_CF1_credentials.get('ssl','false') == 'true'):
    D0_CF1_connect_string = D0_CF1_connect_string + ':sslConnection=true;'
    if D0_CF1_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_CF1_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_CF1_credentials['ssl_certificate'])
        f.close()
        D0_CF1_connect_string = D0_CF1_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_CF1_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_CF1_connect_string,
    [D0_CF1_credentials['username'],D0_CF1_credentials['password']]
)

# In the following query, the schema and table name are in quotes in order to support case-sensitive names or labels
#query = 'SELECT * FROM "DP1"."D0_CF1"'

# テーブルの件数を確認
#query = 'SELECT COUNT (*) FROM "DP1"."D0_CF1" with ur'

# なるべく傾向を保ったまま取得するため、不変番号を２０００で割った余りが１の行を取得
#query = 'SELECT COUNT (*) FROM "DP1"."D0_CF1" where "FUHENNO" % 2000 = 1 with ur'

# 10000件を抽出
query = 'SELECT * FROM "DP1"."D0_CF1" WHERE "FUHENNO" % 2000 = 1 with ur'

# If your database does not support case-sensitive names or quoted names, you can use the following query:
#query = 'SELECT * FROM DP1.D0_CF1'

data_df_1 = pd.read_sql(query, con=D0_CF1_connection)
data_df_1.head()

# Close the database connection with the following code:
# D0_CF1_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,SETAI,KYOJYUJ,...,SONOTA2YD,MYNOCARDD,SINKKACLSETD,SINKKACL,SINKKACLGRP,SINKKACLSRIY,SINKKACLYUKO,SUIKKACL,SUIKKACLYUKO,KARIKAEFLG
0,N,14001.0,1.0,9500.0,20081117.0,20000.0,DEZ5C20,9999999.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,N,12001.0,1.0,9500.0,20081117.0,20000.0,DEZ5C20,9999999.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,N,16001.0,1.0,9500.0,20081117.0,20000.0,DEZ5C20,9999999.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,N,26001.0,1.0,9500.0,20081117.0,20000.0,DEZ5C20,9999999.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,N,18001.0,1.0,9500.0,20081117.0,20000.0,DEZ5C20,9999999.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
data_df_1.shape

(10148, 72)

In [91]:
data_df_1["FUHENNO"].nunique()

10148

In [109]:
#data_df_1["FUHENNO"]

In [9]:
#data_df_1.describe().transpose()

In [10]:
#data_df_1.describe(exclude='number').transpose()

In [33]:
#columns = data_df_1.columns
#columns

In [30]:
#for column in columns:
#    print(column.lower())

In [34]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_CF1_10000_by_python.csv", data_df_1.to_csv(index=False))

{'file_name': 'D0_CF1_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': '8486bd56-cc50-4583-8a11-8548c0a16b87'}

### D0_CZF1から10000行を取得して保存

In [36]:
# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_CZF1_credentials = project.get_connected_data(name="D0_CZF1")

import os, jaydebeapi, pandas as pd

D0_CZF1_port = D0_CZF1_credentials.get('port', 50000)

D0_CZF1_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_CZF1_credentials['host'],
    D0_CZF1_port,
    D0_CZF1_credentials['database']
)

if(D0_CZF1_credentials.get('ssl','false') == 'true'):
    D0_CZF1_connect_string = D0_CZF1_connect_string + ':sslConnection=true;'
    if D0_CZF1_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_CZF1_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_CZF1_credentials['ssl_certificate'])
        f.close()
        D0_CZF1_connect_string = D0_CZF1_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_CZF1_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_CZF1_connect_string,
    [D0_CZF1_credentials['username'],D0_CZF1_credentials['password']]
)

# 10000件を抽出
query = 'SELECT * FROM "DP1"."D0_CZF1" WHERE "FUHENNO" % 2000 = 1 with ur'

data_df_2 = pd.read_sql(query, con=D0_CZF1_connection)
data_df_2.head()

# Close the database connection with the following code:
# D0_CZF1_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,KAIINNO,CORPNO,...,WEBPASSWORD,WEBPMISKAI,WEBPGDFLG,WEBANSYOKD,WEBANSYOKT,CUKEHOU,STKEYKFUKAKD,CARDKASIREKI,KAISOFUKBN,ZANSOFUKBN
0,N,14001.0,1.0,9500.0,20090504.0,20000.0,DEZ5C70,9999999.0,-14001.0,0.0,...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,N,26001.0,1.0,9500.0,20090504.0,20000.0,DEZ5C70,9999999.0,-26001.0,0.0,...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,N,32001.0,1.0,9500.0,20090504.0,20000.0,DEZ5C70,9999999.0,-32001.0,0.0,...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,N,38001.0,1.0,1213.0,20180405.0,123531.0,DUCC221,567725.0,-38001.0,0.0,...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,N,44001.0,1.0,9500.0,20090504.0,20000.0,DEZ5C70,9999999.0,-44001.0,0.0,...,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [38]:
data_df_2.shape

(10154, 280)

In [111]:
data_df_2["FUHENNO"].nunique()

10154

In [83]:
#年収が0ではない人は何人いるか
data_df_2[data_df_2["NENSHU"] != 0].shape

(3800, 280)

In [61]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_CZF1_10000_by_python.csv", data_df_2.to_csv(index=False), overwrite=True)

{'file_name': 'D0_CZF1_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': 'd70c8815-ca90-47c8-bff3-597a1e1374b0'}

### D0_CZF2から10000行を取得して保存

In [41]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_CZF2_credentials = project.get_connected_data(name="D0_CZF2")

import os, jaydebeapi, pandas as pd

D0_CZF2_port = D0_CZF2_credentials.get('port', 50000)

D0_CZF2_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_CZF2_credentials['host'],
    D0_CZF2_port,
    D0_CZF2_credentials['database']
)

if(D0_CZF2_credentials.get('ssl','false') == 'true'):
    D0_CZF2_connect_string = D0_CZF2_connect_string + ':sslConnection=true;'
    if D0_CZF2_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_CZF2_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_CZF2_credentials['ssl_certificate'])
        f.close()
        D0_CZF2_connect_string = D0_CZF2_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_CZF2_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_CZF2_connect_string,
    [D0_CZF2_credentials['username'],D0_CZF2_credentials['password']]
)

# 10000件を抽出
query = 'SELECT * FROM "DP1"."D0_CZF2" WHERE "FUHENNO" % 2000 = 1 with ur'

data_df_3 = pd.read_sql(query, con=D0_CZF2_connection)
data_df_3.head()

# Close the database connection with the following code:
# D0_CZF2_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,BETUFLG,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,KEYKHO,...,HTKASIZAN,HTNKND,JENTAIKTD,SSTKAEZAN,KISITUD,KISITURIYU,FRKASID,CHARGEZAN,CHARGEZAND,LASTCAD
0,N,14001.0,1.0,1.0,9500.0,20100614.0,20000.0,DEZ6C50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,N,20001.0,1.0,1.0,9500.0,20100614.0,20000.0,DEZ6C50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,N,26001.0,1.0,1.0,9500.0,20100614.0,20000.0,DEZ6C50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,N,32001.0,1.0,1.0,9500.0,20100614.0,20000.0,DEZ6C50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,N,38001.0,1.0,1.0,9500.0,20100614.0,20000.0,DEZ6C50,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
data_df_3.shape

(11724, 117)

In [89]:
data_df_3["FUHENNO"].nunique()

10154

In [62]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_CZF2_10000_by_python.csv", data_df_3.to_csv(index=False), overwrite=True)

{'file_name': 'D0_CZF2_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': '7b90a31f-b970-424b-a3c5-da9464827eb2'}

### D0_CF15から10000行を取得して保存

In [57]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_CF15_credentials = project.get_connected_data(name="D0_CF15")

import os, jaydebeapi, pandas as pd

D0_CF15_port = D0_CF15_credentials.get('port', 50000)

D0_CF15_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_CF15_credentials['host'],
    D0_CF15_port,
    D0_CF15_credentials['database']
)

if(D0_CF15_credentials.get('ssl','false') == 'true'):
    D0_CF15_connect_string = D0_CF15_connect_string + ':sslConnection=true;'
    if D0_CF15_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_CF15_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_CF15_credentials['ssl_certificate'])
        f.close()
        D0_CF15_connect_string = D0_CF15_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_CF15_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_CF15_connect_string,
    [D0_CF15_credentials['username'],D0_CF15_credentials['password']]
)

# 10000件を抽出
#query = 'SELECT * FROM "DP1"."D0_CF15" WHERE "FUHENNO" % 2000 = 1 with ur'

data_df_4 = pd.read_sql(query, con=D0_CF15_connection)
data_df_4.head()

# Close the database connection with the following code:
# D0_CF15_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,SHUEKIREFDAY,SHUEKICD,...,JENTAINIS12,KASIZAN12,KASIKANOU12,KITAICL12,TAIDOUMU12,SAIMUSCR12,ENTAISCR12,CLRIYOSCR12,RSKRNKTY12,RSKRNK12
0,N,14001.0,0.0,0.0,20000825.0,195909.0,DDB5020,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,T,20001.0,1.0,1213.0,20220422.0,80314.0,DLCMP04,133350.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,N,26001.0,0.0,0.0,20000825.0,195909.0,DDB5020,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,N,32001.0,0.0,0.0,20000825.0,195909.0,DDB5020,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,N,38001.0,1.0,1213.0,20180405.0,123531.0,DUCC221,567725.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
data_df_4.shape

(10148, 192)

In [88]:
data_df_4["FUHENNO"].nunique()

10148

In [63]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_CF15_10000_by_python.csv", data_df_4.to_csv(index=False), overwrite=True)

{'file_name': 'D0_CF15_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': '16e37a08-bc20-4348-9031-cd0d484dc469'}

### D0_SCUSから10000行を取得して保存

In [66]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_SCUS_credentials = project.get_connected_data(name="D0_SCUS")

import os, jaydebeapi, pandas as pd

D0_SCUS_port = D0_SCUS_credentials.get('port', 50000)

D0_SCUS_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_SCUS_credentials['host'],
    D0_SCUS_port,
    D0_SCUS_credentials['database']
)

if(D0_SCUS_credentials.get('ssl','false') == 'true'):
    D0_SCUS_connect_string = D0_SCUS_connect_string + ':sslConnection=true;'
    if D0_SCUS_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_SCUS_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_SCUS_credentials['ssl_certificate'])
        f.close()
        D0_SCUS_connect_string = D0_SCUS_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_SCUS_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_SCUS_connect_string,
    [D0_SCUS_credentials['username'],D0_SCUS_credentials['password']]
)

# 10000件を抽出
query = 'SELECT * FROM "DP3"."D0_SCUS" WHERE "FUHENNO" % 2000 = 1 with ur'

data_df_5 = pd.read_sql(query, con=D0_SCUS_connection)
data_df_5.head()

# Close the database connection with the following code:
# D0_SCUS_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,KYUSEI,SHOKYAKU,...,HORITRIYU1,HORICD2,HORID2,HORIDELD2,HORIDRIYU2,HORITRIYU2,JICDOUI,LSEINEN,ENTAIKAI1,ENTAIKAI2
0,,124001.0,1.0,9500.0,20170925.0,20000.0,DEZ5WU0,1008828.0,,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,1.0
1,,102001.0,1.0,9500.0,20170925.0,20000.0,DEZ5WU0,1000864.0,,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,-1.0
2,,104001.0,1.0,9500.0,20170925.0,20000.0,DEZ5WU0,1001115.0,,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,-1.0
3,,106001.0,1.0,9500.0,20170925.0,20000.0,DEZ5WU0,1002088.0,,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,-1.0
4,,144001.0,1.0,9500.0,20170925.0,20000.0,DEZ5WU0,1018735.0,,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-1.0,-1.0

In [67]:
data_df_5.shape

(2322, 132)

In [87]:
data_df_5["FUHENNO"].nunique()

2322

In [74]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_SCUS_10000_by_python.csv", data_df_5.to_csv(index=False), overwrite=True)

{'file_name': 'D0_SCUS_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': '387a7930-2000-4962-a637-5667213136a6'}

### D0_SNENから10000行を取得して保存

In [79]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_SNEN_credentials = project.get_connected_data(name="D0_SNEN")

import os, jaydebeapi, pandas as pd

D0_SNEN_port = D0_SNEN_credentials.get('port', 50000)

D0_SNEN_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_SNEN_credentials['host'],
    D0_SNEN_port,
    D0_SNEN_credentials['database']
)

if(D0_SNEN_credentials.get('ssl','false') == 'true'):
    D0_SNEN_connect_string = D0_SNEN_connect_string + ':sslConnection=true;'
    if D0_SNEN_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_SNEN_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_SNEN_credentials['ssl_certificate'])
        f.close()
        D0_SNEN_connect_string = D0_SNEN_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_SNEN_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_SNEN_connect_string,
    [D0_SNEN_credentials['username'],D0_SNEN_credentials['password']]
)

# 10000件を抽出
query = 'SELECT * FROM "DP1"."D0_SNEN" WHERE "FUHENNO" % 2000 = 1 with ur'

data_df_6 = pd.read_sql(query, con=D0_SNEN_connection)
data_df_6.head()

# Close the database connection with the following code:
# D0_SNEN_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,SNENSHUD,SNENSHUT,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,...,SHUYUKOD,HAIGUUMU,HAIGU70UMU,FUYOKODOMOA,FUYOKODOMOB,FUYOKODOMOC,FUYOSONOTAA,FUYOSONOTAB,FUYOSONOTAC,FUYOSONOTAD
0,,19400001.0,20190318.0,205857.0,1.0,1214.0,20190320.0,114219.0,DUCC221,514512.0,...,20200130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,,1088001.0,20100904.0,132639.0,1.0,1731.0,20100904.0,132639.0,DLC1427,331074.0,...,20110130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,,1088001.0,20120225.0,190820.0,1.0,1145.0,20120225.0,190820.0,DLC1427,285129.0,...,20110130.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,,1510001.0,20091201.0,83139.0,1.0,9500.0,20101108.0,20000.0,DEZ5J40,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,,1510001.0,20110420.0,171837.0,1.0,1704.0,20110420.0,171837.0,DLC1427,747646.0,...,20090530.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [80]:
data_df_6.shape

(3621, 31)

In [85]:
data_df_6["FUHENNO"].nunique()

1085

In [92]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_SNEN_10000_by_python.csv", data_df_6.to_csv(index=False), overwrite=True)

{'file_name': 'D0_SNEN_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': 'c2a01f6d-51f9-4318-a94a-0afec038034a'}

### D0_SKFから10000行を取得して保存

In [93]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_SKF_credentials = project.get_connected_data(name="D0_SKF")

import os, jaydebeapi, pandas as pd

D0_SKF_port = D0_SKF_credentials.get('port', 50000)

D0_SKF_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_SKF_credentials['host'],
    D0_SKF_port,
    D0_SKF_credentials['database']
)

if(D0_SKF_credentials.get('ssl','false') == 'true'):
    D0_SKF_connect_string = D0_SKF_connect_string + ':sslConnection=true;'
    if D0_SKF_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_SKF_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_SKF_credentials['ssl_certificate'])
        f.close()
        D0_SKF_connect_string = D0_SKF_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_SKF_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_SKF_connect_string,
    [D0_SKF_credentials['username'],D0_SKF_credentials['password']]
)

# 10000件を抽出
query = 'SELECT * FROM "DP1"."D0_SKF" WHERE "FUHENNO" % 2000 = 1 with ur'

data_df_7 = pd.read_sql(query, con=D0_SKF_connection)
data_df_7.head()

# Close the database connection with the following code:
# D0_SKF_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,KOKYAKUNO,KAKUNINNO,SEIKYUKINGAK,SHORICORP,SHORITEN,SHORID,SHORIT,SHORIPGM,SHORINO,...,TAISHOKOZA1,TAISHOKOZA2,KEYKNO1,KEYKNO2,SHOHINCD1,SHOHINCD2,STATUSCD,SEIKYUYUKOD,DNJDOIKBN,FNMSOFUKBN
0,,202204021076787,224004,00000010000,1.0,9220.0,20220403.0,235140.0,DLCMP01,2281982.0,...,2.0,0.0,2.014800e+09,0.000000e+00,SE,,1.0,20220403.0,9.0,0.0
1,D,202204043996910,174244,00000023000,1.0,9220.0,20220404.0,184127.0,DLCMP02,4158451.0,...,1.0,0.0,1.980800e+09,0.000000e+00,F0,,3.0,20220405.0,1.0,0.0
2,D,202204044496451,213151,00000015000,1.0,9220.0,20220404.0,224639.0,DLCMP02,4582050.0,...,1.0,0.0,2.038000e+09,0.000000e+00,F0,,3.0,20220405.0,1.0,0.0
3,D,202204060132535,075637,00000050000,1.0,9220.0,20220406.0,84804.0,DLCMP02,203997.0,...,1.0,0.0,1.209600e+09,0.000000e+00,FP,,3.0,20220407.0,1.0,0.0
4,D,202204061371477,160242,00000030256,1.0,9220.0,20220406.0,170823.0,DLCMP02,1525490.0,...,1.0,2.0,3.459000e+09,3.459000e+09,F0,SE,3.0,20220407.0,9.0,0.0

In [94]:
data_df_7.shape

(454, 24)

In [95]:
data_df_7["FUHENNO"].nunique()

108

In [97]:
data_df_7["KOKYAKUNO"].nunique()

454

In [96]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_SKF_10000_by_python.csv", data_df_7.to_csv(index=False), overwrite=True)

{'file_name': 'D0_SKF_10000_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': '8863fecb-85b5-4a12-8790-3a607bbf6479'}

### D0_RYMFから10000行を取得して保存（現状できていない）

In [139]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_RYMF_credentials = project.get_connected_data(name="D0_RYMF")

import os, jaydebeapi, pandas as pd

D0_RYMF_port = D0_RYMF_credentials.get('port', 50000)

D0_RYMF_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_RYMF_credentials['host'],
    D0_RYMF_port,
    D0_RYMF_credentials['database']
)

if(D0_RYMF_credentials.get('ssl','false') == 'true'):
    D0_RYMF_connect_string = D0_RYMF_connect_string + ':sslConnection=true;'
    if D0_RYMF_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_RYMF_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_RYMF_credentials['ssl_certificate'])
        f.close()
        D0_RYMF_connect_string = D0_RYMF_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_RYMF_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_RYMF_connect_string,
    [D0_RYMF_credentials['username'],D0_RYMF_credentials['password']]
)

# テーブルの件数を確認
#query = 'SELECT COUNT (*) FROM "DP1"."D0_RYMF" with ur'

# 10000件を抽出
#query = 'SELECT * FROM "DP1"."D0_RYMF" WHERE "FUHENNO" % 2000 = 1 with ur'
query = 'SELECT * FROM "DP1"."D0_RYMF" WHERE "FUHENNO" = 2184001.0 with ur'

data_df_8 = pd.read_sql(query, con=D0_RYMF_connection)
data_df_8.head()

# Close the database connection with the following code:
# D0_RYMF_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

,SKJFLG,FUHENNO,RIYOD,SYUKEID,URIHYONO,URIHYOEDA,SHORID,SHORIT,SHORIPGM,SHORINO,...,MCCRGAK,ECMSCINDCTR,MCID,UCAFINDIC,SHOKAISIME,WALLET,NFCTYPE,TOKENID,DEVICETYPE,QPGYOCD
0,,2184001.0,20000127.0,20000220.0,2521.0,0.0,20000406.0,2718.0,DBI4040,8001542.0,...,0.0,,,,1.0,0.0,0.0,0.0,,0.0
1,,2184001.0,20000428.0,20000520.0,10785.0,0.0,20000807.0,131612.0,DLCAA04,620038.0,...,0.0,,,,1.0,0.0,0.0,0.0,,0.0
2,,2184001.0,20000707.0,20000820.0,9193.0,0.0,20001107.0,144730.0,DLCAA04,401807.0,...,0.0,,,,1.0,0.0,0.0,0.0,,0.0
3,,2184001.0,20000920.0,20001020.0,12975.0,0.0,20010210.0,142303.0,DLCAA04,142503.0,...,0.0,,,,1.0,0.0,0.0,0.0,,0.0
4,,2184001.0,20001028.0,20001120.0,12416.0,0.0,20010312.0,203940.0,DLCAA04,1193089.0,...,0.0,,,,1.0,0.0,0.0,0.0,,0.0

In [145]:
# target_df = data_df_3[["FUHENNO", "KASIZAN"]]
# target_df = target_df[target_df["KASIZAN"]!=0]
# target_df

In [150]:
data_df_8.shape

(266, 132)

In [152]:
#data_df_8.sort_values("SHORID")

In [134]:
# 抽出したデータをプロジェクトに保存
from project_lib import Project
project = Project.access()
project.save_data("D0_RYMF_2184001_by_python.csv", data_df_8.to_csv(index=False), overwrite=True)

{'file_name': 'D0_RYMF_2184001_by_python.csv',
 'message': 'File saved to project storage.',
 'asset_id': '340a320e-4dd7-4fd5-819c-22fd03290847'}

### D0_HEKMから10000行を取得して保存（現状できていない）

In [149]:

# @hidden_cell
# This connection object is used to access your data and contains your credentials.
# You might want to remove those credentials before you share your notebook.

from project_lib import Project
project = Project.access()
D0_HEKM_credentials = project.get_connected_data(name="D0_HEKM")

import os, jaydebeapi, pandas as pd

D0_HEKM_port = D0_HEKM_credentials.get('port', 50000)

D0_HEKM_connect_string = '{}://{}:{}/{}'.format(
    'jdbc:db2',
    D0_HEKM_credentials['host'],
    D0_HEKM_port,
    D0_HEKM_credentials['database']
)

if(D0_HEKM_credentials.get('ssl','false') == 'true'):
    D0_HEKM_connect_string = D0_HEKM_connect_string + ':sslConnection=true;'
    if D0_HEKM_credentials.get('ssl_certificate', None):
        cert_file_path = os.path.join(os.path.expanduser('~'),'D0_HEKM_ssl.cert')
        f = open(cert_file_path, "w")
        f.write(D0_HEKM_credentials['ssl_certificate'])
        f.close()
        D0_HEKM_connect_string = D0_HEKM_connect_string + 'sslCertLocation=' + cert_file_path + ';'

D0_HEKM_connection = jaydebeapi.connect(
    'com.ibm.db2.jcc.DB2Driver',
    D0_HEKM_connect_string,
    [D0_HEKM_credentials['username'],D0_HEKM_credentials['password']]
)

# テーブルの件数を確認
query = 'SELECT COUNT (*) FROM "DP1"."D0_HEKM" with ur'

# 10000件を抽出
#query = 'SELECT * FROM "DP1"."D0_HEKM" WHERE "FUHENNO" % 2000 = 1 with ur'


data_df_9 = pd.read_sql(query, con=D0_HEKM_connection)
data_df_9.head()

# Close the database connection with the following code:
# D0_HEKM_connection.close()
# To learn more about the jaydebeapi package, please read the documentation: https://pypi.org/project/JayDeBeApi/

      1
0  8516